{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">{{ 'title.tourist_list'|trans }}</h3>
        </div><!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Reference</th>
                    <th>Date</th>
                    <th></th>
                </tr>
                {% for key, tourist in tourists %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>
                            <a href="{{ path('result_tourist_quizzes', { id: tourist.id }) }}">
                                {{ tourist.reference }}
                            </a>
                        </td>
                        <td>{{ tourist.creationDate|date("d.m.Y H:i") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div><!-- /.box-body -->
    </div>
{% endblock %}