<p><a href="{{ path('category_new', { quiz: quiz.id}) }}" class="btn btn-success">{{ 'btn.add'|trans }}</a></p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>{{ 'category.name' }}</th>
        </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td><a href="{{ path('category_edit', { 'id': category.id }) }}">{{ category.name }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


