{% extends 'base.html.twig' %}

{% block header %}{{ 'category.add.title'|trans }}{% endblock %}
{% block header_desc %}{{ 'category.add.desc'|trans }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="submit" class="btn btn-default" value="{{ 'btn.add'|trans }}" />
            {{ form_end(form) }}
        </div>
    </div>
    <p>
        <a href="{{ path('quiz_edit', { id: category.quiz.id }) }}" class="btn btn-default pull-left"><i class="fa fa-arrow-left"></i> {{ 'btn.back'|trans }}</a>
    </p>
{% endblock %}
