{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recommendation list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recommendation in recommendations %}
            <tr>
                <td><a href="{{ path('recommendation_show', { 'id': recommendation.id }) }}">{{ recommendation.id }}</a></td>
                <td>{{ recommendation.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recommendation_show', { 'id': recommendation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recommendation_edit', { 'id': recommendation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recommendation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
