<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tourism Office{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        {% block stylesheets %}
            {% stylesheets
            'resources/AdminLTE/bootstrap/css/bootstrap.min.css'
            'https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'
            'https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'
            'resources/AdminLTE/dist/css/AdminLTE.min.css'
            'resources/AdminLTE/dist/css/skins/skin-blue.min.css'
            filter='cssrewrite' output='css/compiled/all.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body class="{% block theme %}skin-blue sidebar-mini{% endblock %}">

    {% block content %}
        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header">

                <!-- Logo -->
                <a href="{{ path('home') }}" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini">
                        <span class="glyphicon glyphicon-home"></span>
                    </span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ app.user.office.name }}
                        {% else %}
                            Office
                        {% endif %}
                    </span>
                </a>

                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {% for locale in locales() %}
                                <li><a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': locale.code})) }}">{{ locale.code|capitalize }} {% if app.request.locale == locale.code %}<span class="label label-warning">&nbsp;</span>{% endif %}</a></li>
                            {% endfor %}

                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <!-- Menu Toggle Button -->
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        <!-- The user image in the navbar-->
                                        <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image" /> -->
                                        <span class="glyphicon glyphicon-user"></span>
                                        <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                        <span class="hidden-xs">
                                            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <!-- The user image in the menu -->
                                        <li class="user-header">
                                            <img src="{{ asset('resources/img/goat.png') }}" class="img-circle" alt="User Image" />
                                            <p>
                                                {{ app.user.username }}
                                                <small>{{ app.user.office.name }}</small>
                                            </p>
                                        </li>
                                        <!-- Menu Body -->
                                        <!-- May could be useful later -->
                                        <!--
                                        <li class="user-body">
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Followers</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Sales</a>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <a href="#">Friends</a>
                                            </div>
                                        </li>
                                        -->
                                        <!-- Menu Footer-->
                                        <li class="user-footer">
                                            <!--
                                            <div class="pull-left">
                                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                                            </div>
                                            -->
                                            <div class="pull-right">
                                                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-default btn-flat">
                                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    {{ render(controller('AppBundle:Tourist:searchByReference')) }}
                    <!-- Sidebar Menu -->
                    <ul class="sidebar-menu">
                        <li class="header">MENU</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li><a href="{{ path('quiz_index') }}"><i class="fa fa-link"></i> <span>{{ 'quiz.title'|trans }}</span></a></li>
                        <li><a href="{{ path('tourist_index') }}"><i class="fa fa-link"></i> <span>{{ 'result.title'|trans }}</span></a></li>
                    </ul><!-- /.sidebar-menu -->
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        {% block header %}{% endblock %}
                        <small>{% block header_desc %}{% endblock %}</small>
                    </h1>
                    <ol class="breadcrumb">
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <!-- Your Page Content Here -->
                    {% block body %}{% endblock %}

                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->

            <!-- Main Footer -->
            <footer class="main-footer">
                <!-- To the right -->
                <div class="pull-right hidden-xs">
                    <!-- Anything you want -->
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; 2015 <a href="http://www.hevs.ch/fr/">HES-SO Valais-Wallis</a>.</strong> All rights reserved.
            </footer>
        </div><!-- ./wrapper -->
    {% endblock content %}

    {% block javascripts %}
        {% javascripts
        'resources/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js'
        'resources/AdminLTE/bootstrap/js/bootstrap.min.js'
        'resources/AdminLTE/dist/js/app.min.js'
        'resources/Highcharts/js/highcharts.js'
        'resources/Highcharts/js/highcharts-more.js'
        output='js/compiled/all.js'%}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>