{% extends 'base.html.twig' %}

{% block header %}{{ 'recommendation.edit.title'|trans }}{% endblock %}
{% block header_desc %}{{ 'recommendation.edit.desc'|trans }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {{ form_start(edit_form) }}
                {{ form_row(edit_form.name) }}
                {{ form_row(edit_form.category) }}
                <hr />
                <div class="criterias" data-prototype="{{ form_widget(edit_form.recommendationCriterias.vars.prototype)|e }}">
                    {% for critera in edit_form.recommendationCriterias %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                {{ form_row(critera) }}
                            </div>
                            <div class="panel-footer"></div>
                        </div>
                    {% endfor %}
                </div>
                <input type="submit" class="btn btn-success btn-add-criteria" value="{{ 'btn.add'|trans }}" />
                <hr />
                <input type="submit" value="{{ 'save'|trans }}" class="btn btn-default pull-left" />
            {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <input type="submit" value="{{ 'delete'|trans }}" class="btn btn-danger pull-right" onclick="return confirm('{{ 'confirm.message' }}');">
            {{ form_end(delete_form) }}
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'recommendation/script_recommendationCriteria.html.twig' %}
{% endblock %}