{% extends 'base.html.twig' %}

{% block header %}{{ 'recommendation.add.title'|trans }}{% endblock %}
{% block header_desc %}{{ 'recommendation.add.desc'|trans }}{% endblock %}

{% block body %}
<div class="box">
    <div class="box-body">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <hr />
        <input type="submit" value="{{ 'btn.add'|trans }}" class="btn btn-success" />
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'recommendation/script_recommendationCriteria.html.twig' %}
{% endblock %}