<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Question edit</h4>
</div>
<div class="modal-body">
    {{ form_start(edit_form, { attr: {class: 'form-edit-question'} }) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    {{ form_start(delete_form, { attr: {class: 'form-delete-question'} }) }}
        {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-warning btn-delete-question" value="Delete" />
    <input type="submit" class="btn btn-primary btn-edit-question" value="Save changes" />
</div>