<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Question edit</h4>
</div>
<div class="modal-body">
    {{ form_start(edit_form, { attr: {class: 'form-edit-question'} }) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    {{ form_start(delete_form, { attr: {class: 'form-delete-question'} }) }}
        {{ form_widget(delete_form) }}
    {{ form_end(delete_form) }}
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-primary btn-add-answer" value="Add a new answer" />
    <input type="submit" class="btn btn-warning btn-delete-question" value="Delete" />
    <input type="submit" class="btn btn-primary btn-edit-question" value="Save changes" />
</div>
<script>
    $(document).ready(function() {
        var $answers = $('#app_question_answers');
        $answers.data('index', $answers.children().length);
        addRemoveAnswerLink($answers.children());

        $('.btn-add-answer').on('click', function(e) {
            e.preventDefault();
            var prototype = $answers.data('prototype');
            var index = $answers.data('index');
            var $newForm = $(prototype.replace(/__name__label__/g, index).replace(/__name__/g, index));
            $answers.append($newForm);
            addRemoveAnswerLink($newForm);
            $answers.data('index', index + 1);
        });
    });

    function addRemoveAnswerLink($answer) {
        $answer.append('<a href="#" class="remove-answer">X</a>');
        $('.remove-answer').click(function(e) {
            e.preventDefault();
            $(this).parent().remove();
            return false;
        });
    }
</script>