{% extends 'base.html.twig' %}

{% block header %}{{ 'question.index.title'|trans }}{% endblock %}
{% block header_desc %}{{ 'question.index.desc'|trans }}{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td><a href="{{ path('question_show', { 'id': question.id }) }}">{{ question.id }}</a></td>
                <td>{{ question.text }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('question_show', { 'id': question.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('question_edit', { 'id': question.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('question_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
