{% extends 'base.html.twig' %}

{% block header %}{{ 'participation.index.title'|trans }}{% endblock %}
{% block header_desc %}{{ 'participation.index.desc'|trans }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'tourist.reference'|trans }}</th>
                        <th>{{ 'participation.creation_date'|trans }}</th>
                    </tr>
                </thead>
                <tbody>

                    {% for p in partitipation %}
                        <tr>
                            <td>
                                <a href="{{ path('result_tourist_quiz', { participation_id: p.id }) }}">
                                    {{ p.quiz.name }}
                                </a>
                                {% if p.isNew %}
                                    <small class="label pull-right bg-green">{{ 'label.new'|trans }}</small>
                                {% endif %}
                            </td>
                            <td>
                                {{ p.createdAt|date("d.m.Y H:i") }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div><!-- /.box-body -->
    </div>
{% endblock %}
