{% extends 'base.html.twig' %}

{% block title %}Quiz{% endblock %}

{% block body %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Area Chart</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="chart">
                {% for score in scores %}
                    <p>- {{ score.category.name }} : {{ score.total }}</p>
                {% endfor %}
                <div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
            </div>
        </div><!-- /.box-body -->
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

    <script>
        $(function () {
            $('#container').highcharts({

                chart: {
                    polar: true,
                    type: 'line'
                },

                title: {
                    text: 'Budget vs spending',
                    x: -80
                },

                pane: {
                    size: '80%'
                },

                xAxis: {
                    categories: [
                        {% for key, score in scores %}
                            "{{ score.category.name|raw }}",
                        {% endfor %}
                    ],
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },

                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },

                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>${point.y:,.0f}</b><br/>'
                },

                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 70,
                    layout: 'vertical'
                },

                series: [{
                    name: 'Tourist result',
                    data: [
                        {% for score in scores %}
                            {{ score.total|raw }},
                        {% endfor %}
                    ],
                    pointPlacement: 'on'
                }]
            });
        });
    </script>
{% endblock %}
