{% extends 'base.html.twig' %}

{% use 'result/tourist_result_graph.html.twig' with
    stylesheets as graph_stylesheets,
    body as graph_body,
    javascripts as graph_javascripts %}

{% block title %}Quiz{% endblock %}

{% block header %}{{ 'result.title'|trans }} ({{ participation.quiz.name }}){% endblock %}
{% block header_desc %}{{ 'result.desc'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ block('graph_stylesheets') }}
{% endblock %}

{% block body %}
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-radar" data-toggle="tab" aria-expanded="true">{{ 'tab.scores'|trans }}</a></li>
        <li class=""><a href="#tab-tree" data-toggle="tab" aria-expanded="false">{{ 'tab.selected_answers'|trans }}</a></li>
        <li class=""><a href="#tab-recommendations" data-toggle="tab" aria-expanded="false">{{ 'tab.recommendations'|trans }}</a></li>
        <li class=""><a href="#tab-tourist" data-toggle="tab" aria-expanded="false">{{ 'tab.tourist'|trans }}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab-radar">
            <div class="row">
                <div class="col-md-12">
                    {% for score in scores %}
                        <div class="progress-group">
                            <span class="progress-text">{{ score.category.name }}</span>
                            <span class="progress-number"><b>{{ score.total }}</b>/{{ max_score }}</span>
                            <div class="progress sm">
                                <div class="progress-bar progress-bar-aqua" style="width: {{ 100 * score.total / max_score }}%"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-md-12">
                    <div id="container" style="width: 100%; height: 550px; margin: 0 auto;"></div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tab-tree">
            {{ block('graph_body') }}
        </div>
        <div class="tab-pane" id="tab-recommendations">
            {% for recommendation in recommendations %}
                <p><i>{{ recommendation['cat'].name }}</i> : <strong>{{ recommendation['msg'] }}</strong></p>
            {% endfor %}
        </div>
        <div class="tab-pane" id="tab-tourist">
            {{ include('tourist/show.html.twig', { tourist: participation.tourist }) }}
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var chart;

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    polar: true,
                    type: 'line',
                    events: {
                        load: requestData
                    }
                },
                title: {
                    text: '',
                    style: {
                        display: 'none'
                    }
                },
                pane: {
                    size: '100%'
                },
                xAxis: {
                    tickmarkPlacement: 'on',
                    lineWidth: 0
                },
                yAxis: {
                    gridLineInterpolation: 'polygon',
                    lineWidth: 0,
                    min: 0
                },
                tooltip: {
                    shared: true,
                    pointFormat: '<span style="color:{series.color}">{series.name}: <b>{point.y:,.0f}</b><br/>'
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    y: 70,
                    layout: 'vertical'
                }
            });

            /**
             * Retrieve radar plot data
             */
            function requestData() {
                $.ajax({
                    url: '{{ path('result_show_radar_plot_tourist_data', { participation_id: participation.id }) }}',
                    type: "GET",
                    dataType: "json",
                    cache: false,
                    success : function(data, statut){
                        chart.xAxis[0].setCategories(data['categories']);

                        chart.addSeries({
                            showInLegend: false,
                            name: "{{ 'score.value'|trans }}",
                            data: data['scores'],
                            color: 'rgb(0, 192, 239)'
                        });
                    }
                });
            }
        });
    </script>
    {{ block('graph_javascripts') }}
{% endblock %}
