{% extends 'base.html.twig' %}

{% block header %}{{ 'quiz.edit.title'|trans }}{% endblock %}
{% block header_desc %}{{ 'quiz.edit.desc'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css" />
{% endblock %}

{% block body %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-basic" data-toggle="tab" aria-expanded="true">{{ 'basic'|trans }}</a></li>
            <li class=""><a href="#tab-category" data-toggle="tab" aria-expanded="false">{{ 'category'|trans }}</a></li>
            <li class=""><a href="#tab-structure" data-toggle="tab" aria-expanded="false">{{ 'structure'|trans }}</a></li>
            <li class=""><a href="#tab-recommendation" data-toggle="tab" aria-expanded="false">{{ 'recommendation'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-basic">
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" value="{{ 'edit'|trans }}" class="btn btn-default" />
                {{ form_end(edit_form) }}
            </div>

            <div class="tab-pane" id="tab-category">
                {{ include('category/index.html.twig', { categories: quiz.categories }) }}
            </div>

            <div class="tab-pane" id="tab-structure">
                <div class="chart">
                    <div class="tree"></div>
                    <div class="modal fade" id="modal-question" tabindex="-1" role="dialog" aria-labelledby="modal-question-label">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="tab-recommendation">
                <p><a href="{{ path('recommendation_new', {quiz_id: quiz.id}) }}" class="btn btn-success">{{ 'btn.add'|trans }}</a></p>
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>{{ 'recommendation.name'|trans }}</th>
                            </tr>
                            {% for recommendation in recommendations %}
                                <tr>
                                    <td>
                                        <a href="{{ path('recommendation_edit', {id: recommendation.id}) }}">{{ recommendation.name }} ({{ recommendation.category.name }})</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        <a class="btn btn-default pull-left" href="{{ path('quiz_index') }}">
            <i class="fa fa-arrow-left"></i> {{ 'btn.back'|trans }}
        </a>
        {{ form_start(delete_form) }}
        <input type="submit" value="{{ 'delete'|trans }}" class="btn btn-danger pull-right" onclick="return confirm('{{ 'confirm.message'|trans }}');">
        {{ form_end(delete_form) }}
        <div class="clearfix"></div>
    </p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
    <script>
        $(function() {
            $('#modal-question').on('hide.bs.modal', function (e) {
                $('.tree').jstree(true).refresh();
            });

            $('.tree').jstree({
                'core' : {
                    'data' : {
                        "url" : "{{ path('quiz_show_tree', {id: quiz.id}) }}",
                    },
                    "check_callback" : true
                },
                "contextmenu":{
                    "items": function($node) {
                        var tree = $(".tree").jstree(true);
                        if ($node.original.type == 'question') {
                            return {
                                "edit": {
                                    "id": $node.original.id,
                                    "label": "{{ 'edit'|trans }}",
                                    "action": function(obj) {
                                        var id = obj.item.id.split('-')[1];
                                        window.location = Routing.generate('question_edit', { id: id });
                                    }
                                }
                            };
                        } else if ($node.original.type == 'answer') {
                            return {
                                "add": {
                                    "id": $node.original.id,
                                    "label": "{{ 'add'|trans }}",
                                    "_disabled": $node.children.length > 0,
                                    "action": function(obj) {
                                        var id = obj.item.id.split('-')[1];
                                        window.location = Routing.generate('question_new', {previousAnswer: id});
                                    }
                                }
                            };
                        }
                    }
                },
                "plugins" : ["contextmenu"]
            });
        });
    </script>
    <script>
        $('a[href="#{{ tab_enabled|default('tab-basic') }}"]').tab('show');
    </script>
{% endblock %}