{% extends 'base.html.twig' %}

{% block header %}
    {{ 'quiz.index.title'|trans }}
{% endblock %}

{% block header_desc %}
    {{ 'quiz.index.desc'|trans }}
{% endblock %}

{% block body %}
    <p><a href="{{ path('quiz_new') }}" class="btn btn-success">{{ 'btn.add'|trans }}</a></p>
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'quiz.name'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for quiz in quizzes %}
                    <tr>
                        <td><a href="{{ path('quiz_edit', { 'id': quiz.id }) }}">{{ quiz.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
