{% extends 'base.html.twig' %}

{% block header %}
    {{ 'quiz.index.title'|trans }}
{% endblock %}

{% block header_desc %}
    {{ 'quiz.index.desc'|trans }}
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'quiz.name'|trans }}</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for quiz in quizzes %}
                    <tr>
                        <td>{{ quiz.name }}</td>
                        <td>
                            <a class="fa fa-edit" href="{{ path('quiz_edit', { 'id': quiz.id }) }}">{{ 'edit'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <a href="{{ path('quiz_new') }}" class="btn btn-app">
                        <i class="fa fa-plus"></i> {{ 'add'|trans }}
                    </a>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
