{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quiz</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ quiz.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ quiz.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quiz_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('quiz_edit', { 'id': quiz.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" onclick="return confirm('Please click on OK to continue.');">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
